@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1.5s;
}
.show{

    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Use nth-child and different transition delays for each card */
.card:nth-child(1) {
    transition-delay: 0.2s;
}

.card:nth-child(2) {
    transition-delay: 0.4s;
}

.card:nth-child(3) {
    transition-delay: 0.6s;
}

.card:nth-child(4) {
    transition-delay: 0.8s;
}

.show {
    transform: translateX(0);
    opacity: 1;
}
