* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
  }
  body {
    text-align: center;
    font-size: 20px;
    background-color: #131316;
    color: #ffffff;
  font-family: 'Poppins', sans-serif;
  }
  .skformDdiv{
      border:1px solid white;
      width:500px;
      height:590px;
      margin: auto;
      /* color:black; */
      /* text-align: left; */
      padding: 10px;
      border-radius: 5px 40px 5px 40px;
      /* border-radius: 10px; */
      margin-top: 10px;
     
  }
  label {
    display: block;
    /* width: 150px; */
    margin-left: 20px;
    text-align: left;
    margin-top: 10px;
    /* margin-bottom: 3px; */

    font-size: 15px;
    /* font-weight: bold; */
    
  }
  #skform input{
      height:35px;
      width:370px;
     margin-top: 5px;
      margin-bottom: 2px;
      border-radius: 5px 20px 5px 20px;
      padding:10px;
      font-size: 15px;
      color: white;
      border: 1px solid white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: transparent;
      transition: width 0.3s, height 0.3s, transform 0.3s;
  }
  #skform input:hover{
      height:40px;
      width:380px;
     
  }
  #skform > div{
    display: flex;
    justify-content: space-between;
    width:300px;
    margin: auto;
  }
  #skform > div input{
      height:40px;
      width:100px;
      margin-top: 20px;
      border-radius: 50px;
      border-radius: 5px 30px 5px 30px;
      /* font-size: 17px; */
      /* font-weight: bold; */
      transition: width 0.3s, height 0.3s, transform 0.3s;
  }
  #skform > div input:hover{
      height:50px;
      width:110px;
  }